:root {
  --background-color: white;
  --font-color: black;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--font-color);
  /* background: rgb(255, 244, 225) 0%; */

  background: linear-gradient(
    to bottom right,
    rgb(255, 244, 225) 0%,
    #fdefd7 50%,
    rgb(255, 244, 225) 100%
  );
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* LAYOUT */
body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2em;
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* SECTION */

section {
  padding: 2.5em 0;

  @media (min-width: 600px) {
    padding: 8em 0;
  }
}

/* HEADINGS */

h1 {
  font-size: 2.5rem;
  @media (min-width: 600px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.6rem;
  padding: 1em 0 1em 0;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;

  @media (min-width: 600px) {
    font-size: 4rem;
  }
}
h3 {
  font-size: 1.6rem;
  line-height: 1.4;
  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

/* HERO SECTION */
.hero {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  justify-items: center;

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    gap: 8em;
  }
}

.left-col {
  display: grid;
  padding: 5vh 0 0 0;
  order: 1;
  gap: 20vh;

  @media (min-width: 1000px) {
    order: 0;
    padding: 38vh 0 0 0;
    gap: 50vh;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-self: center;

  img {
    width: 200px;
    margin: 0 auto;

    @media (min-width: 1000px) {
      width: 400px;
    }
  }

  /* .hero-divider {
    height: 1px;
    width: 40px;
    background-color: var(--font-color);
    align-self: center;
  } */
}

.hero-text p {
  font-size: 1.6rem;
  margin-top: 2em;
  font-family: "Helvetica";
  font-weight: 300;

  @media (min-width: 600px) {
    font-size: 2.2em;
  }
}

.about {
  display: grid;
  gap: 4em;
  padding-bottom: 10vh;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;

  .about-text {
    font-size: 1.3em;
    line-height: 1.8;
    max-width: 100%;
    text-align: center;
    font-family: "Helvetica";
    font-weight: 300;

    @media (min-width: 600px) {
      text-align: justify;
      font-size: 1.6em;
    }
  }

  .about-border-bottom {
    width: 20px;
    height: 1px;
    background-color: var(--font-color);
    border-top: 2em;
  }
}

/* STICKY IMAGE */
.right-col img {
  max-width: 68vw;
  object-fit: cover;
  border: 2px solid var(--font-color);
  top: 13vh;
  order: 0;
  margin-top: 13vh;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 4px 0px;

  @media (min-width: 600px) {
    top: 12vh;
    margin-top: 10vh;
    position: sticky;
    max-width: 60vw;
    height: 76vh;
    max-height: 1000px;
    order: 1;
  }
}

/* GALLERY */
.gallery {
  text-align: center;
  .image-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 0 auto;
    @media (min-width: 600px) {
      gap: 1em;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .image-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .image-container img {
    /* width: 100%; */
    height: 55vh;
    min-width: 100%;
    object-fit: cover;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 4px 0px;
  }
}

.skills-section {
  .skills-ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2em;
    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    .skill-li {
      display: grid;
      gap: 1em;
      display: grid;
      justify-items: center;
      padding: 2em;
      line-height: 0.8;
      h3 {
        text-align: center;
        line-height: 1;
        font-weight: bold;
      }

      .skill-divider {
        width: 20px;
        height: 1px;
        background-color: var(--font-color);
        border-top: 2em;
      }

      .skill-description {
        font-family: sans-serif;
        font-size: 1.3rem;
        font-weight: 100;
        color: var(--font-color);
        line-height: 1.5;
        padding: 0 0em;

        @media (min-width: 600px) {
          font-size: 1.4rem;
          padding: 0 4em;
        }
      }
    }
  }
}

.contact-section {
  .contact-content {
    width: 100%;
    display: grid;
    gap: 4em;
    justify-items: center;
    width: 100%;
    @media (min-width: 600px) {
      gap: 8em;
    }

    .contact-image {
      align-self: center;
      flex: 1;
      max-width: 100%;
      max-height: 60vh;
      object-fit: cover;
      border: 1px solid var(--font-color);
      box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 4px 0px;
    }

    .contact-texts-container {
      display: flex;
      gap: 4em;
      flex-direction: column;

      @media (min-width: 600px) {
        flex-direction: row;
        gap: 8em;
      }
    }

    .contact-texts {
      display: grid;
      text-align: center;
      gap: 2em;

      b {
        display: none;
      }

      .contact-text {
        font-size: 1.4rem;
        font-family: "Helvetica";
        font-weight: 100;
        @media (min-width: 600px) {
          font-size: 1.6rem;
        }
      }
    }

    #business-name {
      font-weight: bold;
      font-size: 1.9rem;
    }

    #phone-number {
      color: black;
      text-underline-offset: 5px;
    }

    .divider {
      width: 2.5vw;
      background-color: black;
      height: 1px;
    }

    .contact-icon {
      height: 50px;
      width: 50px;
      transition: 0.2s ease-in-out all;
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
      @media (min-width: 600px) {
        height: 70px;
        width: 70px;
      }
    }
  }
}

.footer {
  padding: 6em 0 2em 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 100;
}
